{% extends "_base.html" %}

{% block page_content %}

<div class="container-fluid">
  <h1 class="text-center">ABOUT ME</h1>
</div>

{% for about_entry in about_instance %}
<div class="card mb-3">
  <div class="row">
    <div class="col-md-4 py-3">
      <img src="{{ about_entry.profile_pic.url }}" class="card-img rounded-circle mx-auto d-block mb-3" alt="...">
      <center class="py-3">
        <small class="text-center">{{ about_entry.bio }}</small>
      </center>
      <button class="anywhere-link mx-auto d-block p-2">
        <a href="{% url 'contact' %}">Contact</a>
      </button>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ about_entry.name }}</h3>
        <h5 class="card-subtitle text-muted">{{ about_entry.title }}</h5>
        <hr>
        <p class="card-text">{{ about_entry.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock page_content %}