{% extends '_base.html' %}

{% load markdown_extras %}

{% load about_tags %}

{% block title %}Home{% endblock title %}

{% block page_content %}


<div class="container-fluid">
  <!-- Blog post -->
    <div class="row py-3">
      {% for post in posts %}
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ post.main_image.url }}" class="card-img" alt="{{ post.title }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-dark" href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h5>
                  <small class="text-muted">
                    {{ post.last_modified|timesince }} ago |&nbsp;
                    <i class="far fa-comment"></i> {{ post.comments.count }} comments |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                      {{ category.name }}
                      </a>&nbsp;
                    {% endfor %}
                  </small>
                
                
                <p class="card-text pt-3">{{ post.summary|truncatewords:20 }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ post.last_modified|timesince }} ago</small></p>
              </div>
            </div>
          </div>
        </div>       
    </div>
    {% empty %}
    <center>
      <h5>Oops!No post found</h5>
    </center>
    {% endfor %}
    </div>

    {% if is_paginated %}
    <div class="container mb-3">
      {% include 'pagination.html' %}
    </div>
  {% endif %}

  <div class="row py-5">
    <div class="col-sm text-center">
      <h2>Stay Updated</h2>
      <p>Subscribe to our newsletter to get our latest news.</p>
      <form action="{% url 'newsletters:subscribe' %}" method="POST">{% csrf_token %}
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
  
  </div>
  
  <div class="container-fluid">
    {% about_me %}
  </div>

{% endblock page_content %}