{% for entry in posts %}
<blockquote class="blockquote">
  <p class="mb-0"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></p>
  <footer class="blockquote-footer">
    {{ entry.published_date.date }} |&nbsp; 

    <cite title="Source Title">
      {% for category in entry.categories.all %}
      <a href="{% url 'blog_category' category.name %}">
        {{ category.name }}
      </a>
      {% endfor %}
    </cite>
  </footer>
</blockquote>
{% empty %}
<center>
  <h5>No post found</h5>
</center>
{% endfor %}

    <header class="py-3">
      <h3>Category</h3>
    </header>
    {% for cat in category_count %}
    <div class="item d-flex justify-content-between">
      <a href="#">{{ cat.categories__name }}</a><span>{{ cat.categories__name__count }}</span>
    </div>
    {% endfor %}
