{% extends "_base.html" %}

{% load markdown_extras %}

{% block head_title %}
{{ post.title }} | {{ block.super }}
{% endblock head_title %}


{% block post_detail_link %}
  <li><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-3 left">
            <div class="card mb-4">
                {% if post.main_image %}
                  <img class="img-responsive" src="{{ post.main_image.url }}" alt="{{ post.title }}" />
                {% endif %}
            
            <div class="card-body">
                <h3 class="card-title">{{ post.title }} </h3>
                <small class="text-muted">
                    Published on:&nbsp;
                    {{ post.published_date.date }} |&nbsp;
            
                    <i class="fas fa-thumbs-up"> {{ total_likes }}</i>
                    <i class="far fa-clock text-info"></i> {% if post.read_time <= 1 %} < 1 Minute {% else %}{{ post.read_time }} min read {% endif %} |&nbsp;
                    <i class="far fa-eye"></i> {{ post.number_of_views }} views |&nbsp;
                    <i class="far fa-comment"></i> {{ post.comments.count }} comments |&nbsp;

                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                      {{ category.name }}
                      </a>&nbsp;
                    {% endfor %}
                  </small>
                    <p class="card-text">{{ post.body | markdown | safe }}</p>
                <br>

                <div id="like-section">
                    {% include 'blog/like_section.html' %}
                </div>
                <div id="favourite-section">
                  {% if is_favourite %}
                  <a href="{% url 'favourite_post' slug=post.slug %}">
                    <i class="fa fa-heart" style="color:red"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'favourite_post' slug=post.slug %}">
                    <i class="fa fa-heart" style="color: black;"></i>
                  </a>
                  {% endif %}
                </div>
                <!-- Comment & Reply -->
                
                <div class="main-comment-section">
                  {% include 'blog/comment_section.html' %}
                </div>
               
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}